<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Dynasty of Womens</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="./main.component.scss"/>

</head>
<body>
<!-- Hero section -->
<section id="hero" class="text-white tm-font-big tm-parallax">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
    <div class="container">
      <div class="tm-next">
        <a href="#hero" class="navbar-brand">Dynasty of Womens</a>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#introduction">A PROPOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#work">VALEUR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#work">EQUIPE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="text-center tm-hero-text-container">
      <video playsinline autoplay muted loop poster="../../../../assets/front.png">
        <source src="../../../../assets/front.mp4" type="video/mp4">
      </video>
    <div class="tm-hero-text-container-inner">
      <h2 class="tm-hero-title">DYNASTY<br>OF<br>WOMENS</h2>
      <p class="tm-hero-subtitle">
        Première marque de vêtements franco-coréene éco-responsable
      </p>
    </div>
  </div>
</section>

<!-- A propos -->
<section id="introduction" class="tm-section-pad-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../../../assets/tls.png" alt="Image" class="img-fluid tm-intro-img" />
      </div>
      <div class="col-lg-6">
        <div class="tm-intro-text-container">
          <p class="mb-4 tm-intro-text">
            Dynasty of Wo/men, c’est une créatrice rêveuse aux grandes idées qui a grandi dans un monde où tout était catégorisé. Voulant briser les stéréotypes de la mode, elle a eu l’idée de créer sa propre marque de vêtement qui pourrait rassembler toutes les personnes qui sont souvent oubliées dans le milieu très sélecte de la mode. C'est ainsi la marque Dynasty Wo men est née. La marque prend ses racines au cœur de la ville de Toulouse.
          </p>
        </div>
      </div>
    </div>

    <!-- Valeurs -->

    <section id="work" class="tm-section-pad-top">
      <div class="container">
        <div class="row">
          <div class="text-center col-12">
            <h2 class="tm-text-primary tm-section-title mb-4">Valeur</h2>
            <div class="val">
            <p class="mb-4 tm-start-text">
              <img src="assets/valeurs/eco.png">
              La marque s'engage dans une démarche éco-responsable
            </p>
            </div>
            <div class="val">
            <p class="mb-4 tm-mid-text">
              Valorise les commerces équitables
            </p>
              <img src="assets/valeurs/equi.png">
            </div>
            <div class="val">
              <img src="assets/valeurs/diver.png">
            <p class="mb-4 tm-end-text">
              Prône la diversité et l'inclusivité
            </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Equipes -->


    <section id="equipes" class="row tm-section-pad-top">
      <div class="text-center col-12">
        <p class="mb-4 tm-intro-text">
          Dynasty Of Wo/men c'est une équipe composée de talents diversifiés mais complémentaires. Du design à la communication en passant par le développement informatique rien n'est laissé au hasard au sein de l'élaboration de la marque.
        </p>
      </div>
      <div class="pic col-lg-4">
        <img src="../../../../assets/equipes/emeraude.png">
      </div>
      <div class="pic col-lg-4">
        <img src="../../../../assets/equipes/cloé.png">
      </div>
      <div class="pic col-lg-4">
        <img src="../../../../assets/equipes/zeineb.png">
      </div>
      <div class="pic col-lg-4">
        <img src="../../../../assets/equipes/nissa.png">
      </div>
      <div class="pic col-lg-4">
        <img src="../../../../assets/equipes/valentin.png">
      </div>
      <div class="pic col-lg-4">
        <img src="../../../../assets/equipes/timothée.png">
      </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-container-contact">

      </div>
      <footer class="text-center small tm-footer">
        <p class="mb-0">
          Copyright &copy; 2022 Dynasty of Womens
        </p>
      </footer>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>

      function getOffSet() {
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if (windowHeight > 500) {
          _offset = 400;
        }
        if (windowHeight > 680) {
          _offset = 300
        }
        if (windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object) {
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
        $object.css({"background-position": bg_css});
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm
      var background_image_parallax = function ($object, multiplier, forceSet) {
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if (forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function () {
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function ($object, multiplier) {
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment": "fixed"});
        $(window).scroll(function () {
          var firstTop = $object.offset().top,
            pos = $(window).scrollTop(),
            yPos = Math.round((multiplier * (firstTop - pos)) - 186);

          var bg_css = 'center ' + yPos + 'px';

          $object.css({"background-position": bg_css});
        });
      };

      $(function () {
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);

        // Handle window resize
        window.addEventListener('resize', function () {
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function (e) {
          if ($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });

        // Close mobile menu after click
        $('#tmNav a').on('click', function () {
          $('.navbar-collapse').removeClass('show');
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav();

        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function (event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 400, function () {
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: {enabled: true}
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
            {
              breakpoint: 1199,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 991,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 767,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
      });
    </script>
  </div>
</section>
</body>
</html>
